{{ $speakers := where site.RegularPages "Section" "speakers" }}
{{ $featured := where $speakers "Params.featured" true }}
{{ if not $featured }}{{ $featured = $speakers }}{{ end }}
<section class="section" id="speakers">
  <div class="wrap">
    {{ partial "sectionHead.html" (dict "title" "Speakers" "link" ("/speakers/" | relURL) "linkLabel" "Meet them all") }}
    <div class="speaker-grid speaker-grid--row">
      {{ range first 6 ($featured.ByParam "weight") }}
      {{ partial "speakerCard.html" (dict "page" .) }}
      {{ end }}
    </div>
  </div>
</section>
